{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}

    <h1>Steganography Encryption</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="text">Text to hide:</label>
        <input type="text" name="text" required>
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image" accept="image/*" required>
        <br>
        <label for="text">Encrypted Image File Name</label>
        <input type="text" name="Encrypted_Image_File_Name" required>
        <br>
        <input type="submit" value="Encrypt">
    </form>
  


   {% if Encrypted_Image_File_Name %}
    <h2>Encrypted Image:</h2>
    <img src="{{ encrypted_image_path }}" alt="Encrypted Image">
    <br>
    {% comment %} <a href="{{ encrypted_image_path }}" download="{{ encrypted_image_file_name }}">Download Encrypted Image</a> {% endcomment %}
    {% comment %} <a href="{{ encrypted_image_path }}" download="{{ encrypted_image_path }}">Download Encrypted Image</a> {% endcomment %}

    <a href="{% url 'download_image' Encrypted_Image_File_Name %}" download">Download Encrypted Image</a>
{% endif %}

{% endblock content %}
