{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}


    <h1>Steganography Decryption</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="image">Encoded Image:</label>
        <input type="file" name="image" accept="image/*" required>
        <br>
        <input type="submit" value="Decrypt">
    </form>
    {% if decoded_text %}
        <h2>Decoded Text:</h2>
        <p>{{ decoded_text }}</p>
    {% endif %}



    {% endblock content %}
