{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}

<h1 class="display-1 text-center">DECRYPTION KEY GENERATION</h1>
    
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}

    <div class="col-md-6 offset-md-3">
    
        <form method="post" action="{% url 'decryptionkeygenerate' %}">
            {% csrf_token %}
            
            <label for="password" class="form-label" >Password:</label>
            <input type="password" name="password" class="form-control text-center" id="password" required>

            <br>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-dark w-50 py-2">DECRYPT MESSAGE</button>
            </div>
        </form>

    </div>

    {% endblock content %}
