{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}

<h1 class="display-1 text-center">DECRYPTED MESSAGE</h1>
    
    <br>

    <div class="col-md-6 offset-md-3">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}

    
    {% if decrypted_message %}
        
        <div class="card justify-content-center" style="width: 18rem;">
            <img src="/static/cryptoapp/decryptedmessage.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="text-center ">MESSAGE</h6>
                <p class="card-text">{{decrypted_message}}</p>
            </div>
          </div>
    {% endif %}

    </div>



    {% endblock content %}