{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}


<br>
<h1 class="display-1 text-center">SIGN IN</h1>
    
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}

<br>

<div class="col-md-6 offset-md-3">
    
        <form method="post" action="{% url 'signin' %}">
            {% csrf_token %}
            
            <div class="mb-3">
            <label for="id_username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="id_username" name="username" required>
            </div>

            <div class="mb-3">
            <label for="id_password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="id_password" name="password" required>
            </div>

            <button type="submit" class="btn btn-dark text-center">Sign In</button>
        </form>
    
</div>    


{% endblock content %}