{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}

<h1 class="display-1 text-center">ADD CONTACTS</h1>
    
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post" action="{% url 'add_contact' %}">
        {% csrf_token %}
        <label for="tag">Tag :</label>
        <input type="text" name="tag" required><br>
        <label for="name">Name:</label>
        <input type="text" name="name" required><br>
        <button type="submit">Add Contact</button>
    </form>

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif%}


    {% endblock content %}
