{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}



<h1 class="display-1 text-center">DELETE CONFIRMATION</h1>
    
    <br>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-dark text-center" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>    
            {% endfor %}
        </ul>
    {% endif %}

<p>Are you sure you want to delete {{ contact.name }}?</p>

<form method="post" action="">
    {% csrf_token %}
    <input type="submit" value="Yes, delete">
</form>


{% endblock content %}
