{% extends "frontlineapp/base.html" %}
{% load static %}
{% block content %}



    <h2>Contact List</h2>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tag</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.tag }}</td>
                    <td>{{ contact.name }}</td>
                    <td><a href="{% url 'edit_contact' contact.id %}">Edit</a></td>
                    <td><a href="{% url 'delete_contact' contact.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



    {% endblock content %}
